.intialsetting{
    background-color:#328292;
    margin-top: -16px;
    
}
.hwtag {
    
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    padding: 30px;
    max-width: 250px;
    

}

#home {
    background-color: bisque;
}
.hometag{
    text-align: center;
    margin-top: -15px;
    padding: 10px;
}
.aboutmeee{
    background-color: #B79065;
    background: rgb(50,130,146);
/* background: linear-gradient(155deg, rgba(50,130,146,1) 1%, rgba(66,229,239,1) 50%, rgba(183,144,101,1) 83%); */
    font-family: 'Rubik Wet Paint', cursive;
}

#aboutme{
    margin-top: auto;
    height: auto;
    background: rgb(50,130,146);
    /* background: linear-gradient(155deg, rgba(50,130,146,1) 1%, rgba(66,229,239,1) 50%, rgba(183,144,101,1) 83%); */
    padding-bottom: 30px;
    font-family: 'Rubik Wet Paint', cursive;
}
#interest{
    height: auto;
    background-color: #05445E;
    background: rgb(214,21,93);
    background-color: #05445E;
/* background: linear-gradient(344deg, rgba(214,21,93,1) 0%, rgba(52,164,179,1) 52%, rgba(183,144,101,1) 84%); */

}
.interestcontent{
    font-family: 'Rubik Wet Paint', cursive;
}


#education{
    height: auto;
    overflow-x: hidden;
    background: rgb(50,130,146);
    /* background-image: linear-gradient(to right,#fc354cd8, #185b9dc5 ); */
    
}
.educa{
    font-family: 'Rubik Wet Paint', cursive;
    background: rgb(50,130,146);
    /* background-image: linear-gradient(to right,#fc354cda, #185b9dc5 ); */
}
#skills{
    height: auto;
    background: rgb(21,214,134);
    background-color: #05445E;
    /* background: linear-gradient(327deg, rgba(21,214,134,1) 0%, rgba(184,216,247,1) 53%, rgba(0,173,255,1) 97%); */
}
   

.skillsection{
    font-family: 'Rubik Wet Paint', cursive;
}
.proj{
    height: auto;
}
#footer{
    background-color: black;
    /* need to change the height to auto after completing */
    height: auto;
    overflow-x: hidden;
}
.footersection{
    color: whitesmoke;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 34px;
    margin-left: 10px;
    padding: 34px;

}