.projectcontainer{
    text-align: center;
    background-color: rgb(80, 223, 23);
    height:auto;
    overflow-y: hidden;
    background: rgb(21,214,134);
    background: rgb(50,130,146);
/* background: linear-gradient(126deg, rgba(21,214,134,1) 0%, rgba(184,216,247,1) 53%, rgba(0,173,255,1) 97%); */
}
#header{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 40px;
}
.containerwrap{
   
    display: grid;
    row-gap: 30px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin: 20px;
    

}
.totalcard{
    background-color: rgba(0, 0, 0, 0.836);
    
    
}
.insidewarp{
    margin-right: 20px;
    
   
}
.img{
    /* max-width: 250px; */
    max-height: 300px;
    min-height: 300px;
   
}
.cardcontainer{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.title{
    background-color: rgb(80, 223, 23);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width:200px;
    justify-content: start;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; 
    font-family: 'Arvo', serif;
}
.language{
    display: inline-flex;
    background-color: #338EBD;
    border-radius: 30px;
    width: auto;
    padding: 3px;
    justify-content: center;
    text-align: center;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
    
}
.descreption{
    background-color: rgba(0, 0, 0, 0.705);
    padding: 10px;
    border-radius: 3px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}
/* use like hover change the backgroud */
a:link {
    text-decoration: none;
    color: black;
}
a:hover{
    color: rebeccapurple;

}

.linkbox {
    background-color: blueviolet;
    display: inline-block;
    text-align: center;
    width: 70px;
    border-radius: 4px;
    color: greenyellow;
    text-decoration: none;
    align-items: baseline;
    margin-top: auto;
    font-family: 'Arvo', serif;
}
.linkbox:hover{
    background-color: greenyellow;
}

/* need to apply mediaquery!!! */
@media only screen and (max-width: 1120px) {
    .containerwrap{
        display:grid;
        grid-template-columns: auto auto;
        row-gap: 30px;
    }
}
@media only screen and (max-width: 480px) {
    .containerwrap{
        display:grid;
        grid-template-columns: auto;
        row-gap: auto;
      
        justify-content: center;
        text-align: center;
    }
    .totalcard {
        
        height: auto;
    }
    .descreption{
        padding: 10px;
    }

    .cardcontainer{
        max-width: 300px;
        margin-left: 15px;
    }
    .title{
        font-size: 14px;
    }
    .linkbox{
        margin: auto;
    }
  
}
@media only screen and (max-width: 640px) {
    .containerwrap{
        display:grid;
        grid-template-columns: auto;
        row-gap: 70px;
      
        justify-content: center;
        text-align: center;
    }
    /* .insidewarp{
        min-width: 200px;
    } */
    .cardcontainer{
        max-width: 300px;
    }
  
}


/* FOR SEARCH BTN */
