.projectcontainer{
    text-align: center;
    background-color: aqua;
    height:1000px;
}
.containerwrap{
   
    display: inline-flex;
    justify-content: space-evenly;
    margin: 20px;

}
.totalcard{
    background-color: rgba(0, 0, 0, 0.836);
    
}
.insidewarp{
    margin-right: 20px;
}
.img{
    /* max-width: 250px; */
    max-height: 300px;
   
}
.title{
    background-color: rgb(80, 223, 23);
    border-radius: 30px;
    width:200px;
    justify-content: start;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; 

}
.language{
    display: inline-flex;
    background-color: #338EBD;
    border-radius: 30px;
    width: 150px;
    justify-content: center;
    text-align: center;
    
}
.descreption{
    background-color: rgba(0, 0, 0, 0.705);
    padding: 30px;
    border-radius: 3px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    color: white;
}
/* use like hover change the backgroud */
a:link {
    text-decoration: none;
    color: black;
}
a:hover{
    color: rebeccapurple;

}

.linkbox {
    background-color: blueviolet;
    display: inline-block;
    text-align: center;
    width: 70px;
    border-radius: 4px;
    color: greenyellow;
    text-decoration: none;
}
.linkbox:hover{
    background-color: greenyellow;
}

/* need to apply mediaquery!!! */