.skill{
    height: auto;
    background-color: #b8d8f7;
    /* display: inline-block; */
}
.allcontent{
    display: flex;
    padding: 20px;
    

}
/* programming language */
.programingskill{
    column-gap: 30px;
    justify-content: space-evenly;
    margin:auto;
    text-align: center;
}
.boxwrapper{
    text-align: start;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    margin:30px;
    width: 250px;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
}

/* for python */
.programingskill .py{
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}
.programingskill .py .pyname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

/* for java */
.programingskill .java{
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}
.programingskill .janame{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

/* for c */
.programingskill .c{
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}
.programingskill .cname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* Frontend Skill */
.frontendskill{
    /* column-gap: 30px; */
    row-gap: 50px;
    text-align: center;
}

/* html */
.frontendskill .html1{
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}
.frontendskill .html1 .htmlname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* for css */
.frontendskill .css{
    display: inline-block;
    margin-right: 10px;
    margin-left: 4px;
}
.frontendskill .css .cssname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* for js */
.frontendskill .js{
    display: inline-block;
    margin-right: 20px;
    margin-left: 14px;
}
.frontendskill .js .jsname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* Backend skill */
.backendskill{
    column-gap: 23px;
    text-align: center;
}

/* sql  */
.backendskill .sql{
    display: inline-block;
    margin-right: 20px;
    margin-left: 14px;
}
.backendskill .sqlname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* firebase */
.backendskill .firebase{
    display: inline-block;
    margin-right: 20px;
    margin-left: 14px;
}
.backendskill .fbname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* mongodb */
.backendskill .mongodb{
    display: inline-block;
    margin-right: 20px;
    margin-left: 14px;
}
.backendskill .mgname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* APP development */
.appdevelopment{
   text-align: center;
}
.appdevelopment .flutter1{
    display: inline-block;
    margin-right: 20px;
    margin-left: 14px;
    width: 45px;
}
.appdevelopment  .flname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
   
}
/* frameworks */
.framework{
    text-align: center;
    margin: auto;
}
/* react */
.framework .react{
    display: inline-block;
    margin-right: 20px;
    margin-left: 14px;
}
.framework  .rname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* for node */
.framework .node{
    display: inline-block;
    margin-right: 20px;
    margin-left: 14px;
}
.framework .nname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* for bootstrap */
.framework .bootstrap{
    display: inline-block;
    margin-right: 20px;
    margin-left: 14px;
}
.framework .bname{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* ---------------------need to edit this part--------------------------------- */
/* icon coloring */
.h3skill{
    margin: auto;
    padding: 20px;
    display: flex;
    height: auto;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 40px;
}
.htmlcontainer{
    font-size: 45px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    animation-name: htmltag;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes htmltag {
    0%{color: red;}
    25%{color:violet;}
    50%{color: turquoise;}
    75%{color: rebeccapurple;}
    100%{color: yellow;}
    
}



.csscontainer{
    font-size: 45px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    animation-name: csstag;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes csstag {
    0%{color: red;}
    25%{color:violet;}
    50%{color: turquoise;}
    75%{color: rebeccapurple;}
    100%{color: yellow;}
    
}
.javascript{
    font-size: 45px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    animation-name: jstag;
    animation-duration: 6s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes jstag {
    0%{color: red;}
    25%{color:violet;}
    50%{color: turquoise;}
    75%{color: rebeccapurple;}
    100%{color: yellow;}
    
}
.pythoncontainer{
    font-size: 45px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    animation-name: pytag;
    animation-duration: 7s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes pytag {
    0%{color: red;}
    25%{color:violet;}
    50%{color: turquoise;}
    75%{color: rebeccapurple;}
    100%{color: yellow;}
    
}
/* dont delete this for color container */
.flutter{
    font-size: 45px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    width: 80px;
    animation-name: fltag;
    animation-duration: 8s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes fltag {
    0%{color: red;}
    25%{color:violet;}
    50%{color: turquoise;}
    75%{color: rebeccapurple;}
    100%{color: yellow;}
    
}
.ccontainer{
    font-size: 45px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    animation-name:ctag;
    animation-duration: 9s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes ctag {
    0%{color: red;}
    25%{color:violet;}
    50%{color: turquoise;}
    75%{color: rebeccapurple;}
    100%{color: yellow;}
    
}
.javacontainer{
    font-size: 45px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    animation-name: jtag;
    animation-duration: 10s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes jtag {
    0%{color: red;}
    25%{color:violet;}
    50%{color: turquoise;}
    75%{color: rebeccapurple;}
    100%{color: yellow;}
    
}
.projects{
    justify-content: center;
    margin: auto;
    font-family: 'Rajdhani', sans-serif;
}
#proj{
    justify-content: center;
    margin: auto;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    padding: 30px;
}
.iconbg{
    background-color: black;
    width: 55px;
    height: 55px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius:50%;

}
.iconbg .projicon{
    display: flex;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: 12px;
    color: white;

   
}


/* media */
@media only screen and (max-width: 480px) {
    .allcontent{
        
      
        display: grid;

        row-gap: 40px;
    }
    
}

@media only screen and (max-width: 600px) {
    .allcontent{
        
        row-gap: 40px;
    }
    
}
